/* Global Styles/Type Selectors
----------------------------- */
html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    color: #343434;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    line-height: 125%;
}

main, .projects {
    background-color: #dadada;
}

img {
    width:300px;
}

h1 {
    font-size: 50px;
    /* line-height: 1; */
}

h2 {
    font-size: 35px;
}

h1, h2 {
    font-family: 'Oswald', cursive;
    font-weight: 400;
    /* margin: 15; */
}

h3 {
    margin-bottom: 0;
}

.item-details h3 + p {
    font-style: italic;
}

.item-details h3 ~ p {
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

.divider  {
    border-bottom: 1px dashed #343434;
    padding: 25px 0px;
}

.divider > section:last-of-type {
    border-bottom: none;
}

/* Hyperlink Selectors
----------------------------- */

a:link{
    color: rgb(61, 255, 113);
}

a:visited {
    color:rgb(61, 255, 255);
}

a:focus {
    font-style: bold;
}

a:hover {
    background: #f7fff74b;
    text-decoration: none;
}

a:active {
    color: red;
}

/* Class Selectors
----------------------------- */


.quote figcaption, blockquote {
    color: #2f613e;
    text-align: center;
}

.quote {
    background-color: none;
}

.content-wrap {
    max-width: 90%; 
    width: 85%;
    margin: 0 auto;
    padding: 5px;
    padding-top: 40px;
}

.content-wrap.intro {
    padding-top: 100px;
}


/* Navigation Bar
----------------------------- */

nav ul {
    background-image: linear-gradient(
        45deg, #2f3061, #252764, #252525
    );
    list-style-type: none;
    width: 100vw;
    /* display: grid;
    grid-template-columns: repeat(5, 1fr); */
    display: flex;
    margin: 0;
    padding-right: 5%;
    justify-items: center;
    justify-content: center;
    align-items: center;
}

img.logo {
    margin: 0;
    padding-top: 20px;
    max-width: 50%;
    min-width: 50px;
}

header nav {
    position: fixed;
}

#scroll {
    scroll-behavior: smooth;
}

#name, #projects, #work, #education {
    scroll-margin-block-start: 110px;
    /*Adds margin to the top of the viewport*/
    
    scroll-margin-block-end: 110px;
    /*Adds margin to the bottom of the viewport*/ 
}

@media screen and (max-width: 749px) {
    h1 {
        font-size: 35px;
    }
    h2 {
        font-size: 30px;
    }
    contact-list a {
        padding: 5px;
    }
    nav ul {
        font-size: 75%;
    }
    .name {
        margin-top: 35%;
    }
}



