/* Set dark mode as a defauly (if applicable in browser) */

html {
  color-scheme: dark light;
}

body {
  display: grid;
  height: 100%;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 250px 600px;
  /* border: 2px solid yellow; */
  /* using grid-template-area to create a mobile layout where each named space occupies its own row */
  grid-template-areas:
    "hd"
    "sd"
    "main"
    "ft";
}

.header {
  grid-area: hd;
}

.sidebar {
  grid-area: sd;
  margin: 10px;
  padding: 3px;
}

.content {
  grid-area: main;
  margin: 10px;
}

a:hover {
  background-color: darkgray;
  text-decoration: none;
}

/* Header/Title Section
----------------------------------- */

.header {
  display: grid;
  background-image: linear-gradient(
    /* 45deg, #12c2e9, #c471ed, #f64f59 */ 45deg,
    #f64f59,
    #c471ed,
    #12c2e9
  );
  margin: 0, auto;
  padding: 20px;
  text-align: center;
  font-size: 2em;
  font-weight: bold;
}

#logo-twitter {
  display: flex;
  text-align: left;
  max-width: 5%;
  height: auto;
}

/* About Section
----------------------------------- */
.about p {
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

.about h2 {
  padding: 10px;
}

/* Archive Section
----------------------------------- */
.archive {
  padding: 10px;
}
li {
  list-style-type: square;
}

/* Home Section
----------------------------------- */
.home {
  padding: 10px;
}

.home img {
  justify-content: center;
  align-content: center;
}

/* Blog Section
----------------------------------- */
.sidebar h1 {
  margin-bottom: 0;
  text-align: center;
}
.blog-date {
  margin-top: 2px;
  color: dimgray;
  font-style: italic;
  text-align: center;
}

.blog-last {
  text-align: right;
}

.blog-body {
  font-family: Arial, Helvetica, sans-serif;
  margin: auto;
  padding: 15px;
}

.blog-body > img {
  width: 50%;
  height: auto;
  align-items: center;
}

/* Navigation Bar Section
----------------------------------- */
.nav-bar {
  background: #2f3061;
  list-style-type: none;
  display: flex;
  grid-template-columns: repeat(5, 1fr);
  margin: 0;
  padding: 0;
  justify-items: center;
  justify-content: center;
  align-items: center;
}

.footer {
  grid-area: ft;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

/* If Screen Is Wide Enough */
@media screen and (min-width: 800px) {
  .container {
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 250px 600px;
    grid-template-areas:
      "hd hd hd hd hd hd hd hd"
      /* "sd sd main main main main main main" 
      ^^^ This was the original line, but it makes the about section too long*/
      "sd sd sd sd sd sd main main"
      /* ^^^ This line makes the Blog Post section bigger, but doesn't shrink correctly when resizing page. */
      "ft ft ft ft ft ft ft ft";
    /* border: 2px solid red; */
  }
}

@media (min-width: 828px) and (max-width: 1080) {
  display: grid;
}
